* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    text-align: center;
    color: grey;
}
.mobile {
    color: red;
    text-transform: uppercase;
}

.box {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
}

.content {
    background-color: blue;
    height: 150px;
    width: 100%;            
}

.head-text {
    transition: all 700ms ease-in-out;
}
/* tab view */
@media only screen and (min-width: 480px) {
    .mobile {
        color: yellowgreen;
        text-transform: lowercase;
    }
    .box {
        width: 50%;
        float: left;
    }

    .container {
        overflow: auto;
    }
}

@media only screen and (min-width: 992px) {
    .box {
        width: 25%;
    }
    .mobile {
        color: grey;
        text-transform: lowercase;
    }
    .tab {
        color: green;
        text-transform: lowercase;
    }
    .desktop {
        color: orange;
        text-transform: uppercase;
    }
} 
